.principal{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.div_form{
    width: 100%;
    height: 100%;
    display: flex;
}

.home:hover{
    font-size: 28px;
}

.div_title{
   height: 20%;
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   justify-items: center;
}


.div_title a{
    font-family: "Cosi Azure";
    font-size: 100px;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    color: #fefefe00;
    -webkit-text-stroke: 1px #FFF; 
    
}

.div_title span::before{
    width: 0;
    color: #fff;
    overflow: hidden;
    position: absolute;
    content: attr(data-text);
    transition: all 1s cubic-bezier(0.84, 0 , 0.08, 0.99);
}

.div_title span:hover::before{
    width: 100%;
}

.span{
    width: 700px;
    position: relative;
    display: block;
}

html{
    overflow: hidden;
}

.video_div{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1000;
}
.video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;  
}

.form_base {
    position: relative;
    width: 30%;
    min-width: 600px;
    min-height: 600px;
    height: 85%;
    background-color: #f6f6f69c;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.form {
    width: 50%;
    height: 60%;
    background-color: rgba(255, 255, 255, 0.950);
    border-radius: 10px;
    padding: 80px;
}

/* Input Foto de Usuário */

.user_div{
    position: fixed;
    background-color: white;
    border-radius: 50%;
    top:50px;
    left: 250px;
}

.personal_image {
    text-align: center;
  }
  .personal_image input[type="file"] {
    display: none;
  }
  .personal_figure {
    position: static;
    width: 120px;
    height: 120px;
  }
  .personal_avatar {
    cursor: pointer;
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    border-radius: 100%;
    border: 2px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out .3s;
  }
  .personal_avatar:hover {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  }
  .personal_figcaption {
    cursor: pointer;
    position: absolute;
    top: 0px;
    width: inherit;
    height: inherit;
    border-radius: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: all ease-in-out .3s;
  }
  .personal_figcaption:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, .5);
  }
  .personal_figcaption > img {
    margin-top: 32.5px;
    width: 50px;
    height: 50px;
  }


.formAdmin {
    margin: 0 auto;
    width: 400px;
    height: 100%;
}

.User {
    position: relative;
    width: 100%;
    height: 30px;
    border: 2px solid #000;
    margin: 50px auto;
}

.input {
    margin-left: 20%;
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
}

#user_ico{
    position: absolute;
    bottom: 6px;
    left: 5px;
}

#lock_ico{
    position: absolute;
    bottom: 6px;
    left: 5px;
}

#sign_ico{
    margin-right: 20px;
}

.home{
    position: absolute; 
    top: 5px;  
    left: 5px;
    font-size: 24px;
    color: white;
    background-color: red;  
    border-radius: 50%;
    display: flex;
    justify-content: center;
    
    align-items: center;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.btn {
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 45px;
    background-color: #FF0000;
    border: none;
    color: #fff;
    font-size: 18px;
}

.btn:hover {
    background-color: #d30202;
}

.btn:active {
    background-color: #9e1401;
    color: #000;
}


