* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
:root{
  height: 100%;
}
body{
  height: 100%;
}
#root{
  height: 100%;
}
p{
  color: red;
  position: fixed;
  top: 98%;
  font-weight: bold;
}

